<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<div class="container">
    {% if user.is_superuser %}
    <form role="form" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="input-append">
            {{form}}
            <button type="submit" id="import_csv" class="btn btn-success">Submit</button>
        </div>
    <form>
    {% endif %}
</div>

</body>
</html>
